@model StudentsAffairs.Models.Student

<table class="table table-borderless details">
    <tr>
        <td width="150">@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Sex)</td>
        <td>@Html.DisplayFor(model => model.Sex)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Nationality)</td>
        <td>@Html.DisplayFor(model => model.Nationality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Religion)</td>
        <td>@Html.DisplayFor(model => model.Religion)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.BirthDate)</td>
        <td>@Html.DisplayFor(model => model.BirthDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.BirthPlace)</td>
        <td>@Html.DisplayFor(model => model.BirthPlace)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PersonalCardId)</td>
        <td>@Html.DisplayFor(model => model.PersonalCardId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CivilRegistry)</td>
        <td>@Html.DisplayFor(model => model.CivilRegistry)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.AcademicQualificationAndDate)</td>
        <td>@Html.DisplayFor(model => model.AcademicQualificationAndDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Total)</td>
        <td>@Html.DisplayFor(model => model.Total)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Speciality)</td>
        <td>@Html.DisplayFor(model => model.Speciality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StatusOfConstraint)</td>
        <td>@Html.DisplayFor(model => model.StatusOfConstraint)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ContantMethod)</td>
        <td>@Html.DisplayFor(model => model.ContantMethod)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.JoinDate)</td>
        <td>@Html.DisplayFor(model => model.JoinDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PlaceOfResidence)</td>
        <td>@Html.DisplayFor(model => model.PlaceOfResidence)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.HomeNumber)</td>
        <td>@Html.DisplayFor(model => model.HomeNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StreetNumber)</td>
        <td>@Html.DisplayFor(model => model.StreetNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OtherNotes)</td>
        <td>@Html.DisplayFor(model => model.OtherNotes)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Department)</td>
        <td>@Html.DisplayFor(model => model.Department)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Group)</td>
        <td>@Html.DisplayFor(model => model.Group)</td>
    </tr>
</table>