@model PagedList.IPagedList<StudentsAffairs.Models.Student>
@using PagedList.Mvc;
@{
    ViewBag.Title = "قائمة الطلاب";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("إضافة طالب جديد", "Create")
</p>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="form-inline">
        بحث بحسب الاسم: @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" class="btn btn-default" value="بحث" />
    </div>
    <br/>
}

<table class="table table-hover">
    <tr style="font-weight: bold; font-size: larger">
        <td>
            @Html.ActionLink("اسـم الطــالــب", "Index", new { sort = ViewBag.CurrentFilter })
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().Sex)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().PersonalCardId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().StatusOfConstraint)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().ContantMethod)
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOfConstraint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContantMethod)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.ID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions { LinkToPreviousPageFormat = "&rsaquo;", LinkToNextPageFormat = "&lsaquo;", LinkToFirstPageFormat = "&raquo;", LinkToLastPageFormat = "&laquo;"})
