@model PagedList.IPagedList<StudentsAffairs.Models.Student>
@using PagedList.Mvc;
@{
    ViewBag.Title = "قائمة الطلاب";
}

<h2>@ViewBag.Title</h2>

<p>
    <button class="btn btn-lg" onclick="location.href='@Url.Action("Create")'" style="font-weight: bold; border: solid; border-width: 1px;">إضافة طالب جديد</button>
    <button class="btn btn-lg" onclick="location.href='@Url.Action("Upload")'" style="font-weight: bold;border: solid; border-width: 1px;">إضافة طلاب من ملف</button>
</p>


@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="form-inline">
        <b>الاسم</b> @Html.TextBox("search", ViewBag.CurrentFilterByName as string, new { @class = "form-control" })
        <b>الفرقة</b> @Html.EnumDropDownListFor(model => model.FirstOrDefault().Group, htmlAttributes: new { @class = "form-control" })
        <input type="submit" class="btn btn-default" value="بحث" />
    </div>
    <br />
}

<table class="table table-hover">
    <tr style="font-weight: bold; font-size: larger">
        <td>
            @Html.ActionLink("اسـم الطــالــب", "Index", new { sort = ViewBag.CurrentSort, currentFilterByName = ViewBag.CurrentFilterByName })
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().Group)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().PersonalCardId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().StatusOfConstraint)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.First().ContantMethod)
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOfConstraint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContantMethod)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.ID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { currentFilter = ViewBag.CurrentFilterByName, group = ViewBag.CurrentFilterByDep, page }),
    new PagedListRenderOptions { LinkToPreviousPageFormat = "&rsaquo;", LinkToNextPageFormat = "&lsaquo;", LinkToFirstPageFormat = "&raquo;", LinkToLastPageFormat = "&laquo;" })
